In [ ]:
class Empleado():
  def __init__(self,nombre,edad,id,salario):
    self.nombre=nombre
    self.edad=edad
    self.id=id
    self.salario=salario

#POO
Clase es como un mole

*Variables-->Atributos
*Funciones-->Métodos
*Constructor---> constituye una clase
*Objetos: comparten atributos, métodos, relaciones que tienen una identidad propia

In [1]:
class Mascotas():
  pass

In [4]:
a=Mascotas
b=Mascotas

In [5]:
if a==b:
  print("Son iguanitos")
else:
  print("No son iguanitos")

Son iguanitos

In [20]:
class Empleado():
  #construyeno un constructor
  def __init__(self,nombre,edad,ID,salario):
    self.nombre=nombre
    self.edad=edad
    self.ID=ID
    self.salario=salario
  def __repr__(self):
    return f"nombre:{sonia.nombre}, edad:{self.edad},ID:{self.ID},salario={self.salario}"

In [21]:
sonia=Empleado("Sonia",25,"U00152314",10000000)

In [22]:
print(sonia)

nombre:Sonia, edad:25,ID:U00152314,salario=10000000

In [10]:
sonia.nombre

'Sonia'

In [11]:
sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'ID': 'U00152314', 'salario': 10000000}

In [23]:
madaniel=Empleado("Pirulais",83,"U001512345",1000000)

In [25]:
if sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre}")
else:
  print(f"El salario de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

In [49]:
class Fraccion:
  num=0
  den=1

  def __init__(self,num=0,den=1):
    self.num=num
    self.den=den

  def mulltiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r

  def imprime(self):
    print(self.num,"/",self.den)

In [50]:
#creando objetos tipo Fracción

a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [51]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [52]:
c=a1.mulltiplica(a2)
c.imprime()

32 / 45

In [48]:
type(c)

NoneType