In [ ]:
class Empleado():
  def __init__(self,nombre,edad,id,salario):
    self.nombre=nombre
    self.edad=edad
    self.id=id
    self.salario=salario

#POO
Clase es como un mole

*Variables-->Atributos
*Funciones-->Métodos
*Constructor---> constituye una clase
*Objetos: comparten atributos, métodos, relaciones que tienen una identidad propia

In [ ]:
class Mascotas():
  pass

In [ ]:
a=Mascotas
b=Mascotas

In [ ]:
if a==b:
  print("Son iguanitos")
else:
  print("No son iguanitos")

Son iguanitos

In [ ]:
class Empleado():
  #construyeno un constructor
  def __init__(self,nombre,edad,ID,salario):
    self.nombre=nombre
    self.edad=edad
    self.ID=ID
    self.salario=salario
  def __repr__(self):
    return f"nombre:{sonia.nombre}, edad:{self.edad},ID:{self.ID},salario={self.salario}"

In [ ]:
sonia=Empleado("Sonia",25,"U00152314",10000000)

In [ ]:
print(sonia)

nombre:Sonia, edad:25,ID:U00152314,salario=10000000

In [ ]:
sonia.nombre

'Sonia'

In [ ]:
sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'ID': 'U00152314', 'salario': 10000000}

In [ ]:
madaniel=Empleado("Pirulais",83,"U001512345",1000000)

In [ ]:
if sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre}")
else:
  print(f"El salario de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

In [42]:
class Fraccion:
  num=0
  den=1

  def __init__(self,num=0,den=1):
    self.num=num
    self.den=den

  def mulltiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r
  
  def suma(self,b):
    num=(self.num*b.den)+(b.num*self.den)
    den=self.den*b.den
    r=Fraccion(num,den)
    return r
  
  
  def resta(self,b):
    num=(self.num*b.den)-(b.num*self.den)
    den=self.den*b.den
    r=Fraccion(num,den)
    return r

  
  def division(self,b):
    num=(self.num*b.den)
    den=b.num*self.den
    r=Fraccion(num,den)
    return r
  
  def elevar(self,b):
    num=(self.num*self.num)
    den=self.den*self.den
    r=Fraccion(num,den)
    return r
  
  def elevarr(self,b):
    num=(b.num*b.num)
    den=b.den*b.den
    r=Fraccion(num,den)
    return r

  def imprime(self):
    print(self.num,"/",self.den)

In [43]:
#creando objetos tipo Fracción

a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [44]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [45]:
print("La multiplicación es ")
c=a1.mulltiplica(a2)
c.imprime()
print("La suma es ")
d=a1.suma(a2)
d.imprime()
print("La resta es ")
r=a1.resta(a2)
r.imprime()
print("La divisón es ")
e=a1.division(a2)
e.imprime()
print("La potencia al cuadrado de la primera fracción es ")
p=a1.elevar(a2)
p.imprime()
print("La potencia al cuadrado de la segunda fracción es ")
pp=a1.elevarr(a2)
pp.imprime()

La multiplicación es
32 / 45
La suma es
76 / 45
La resta es
-4 / 45
La divisón es
36 / 40
La potencia al cuadrado de la primera fracción es
16 / 25
La potencia al cuadrado de la segunda fracción es
64 / 81

In [11]:
type(c)

__main__.Fraccion